<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body {
      background-color: #FAEBD7;
      text-align:center;
      margin:70px 0px; padding:0px;
    }
    img {
       border: 4px solid #000000;
     }
     h1 {
       font-size: 50px;
       font-style: times new roman;
     }
     h3 {
       font-size: 30px;
       font-style: times new roman;
     }
     p {
       font-style: times new roman;
     }
     a {
       width:120px;
       height:30px;
       top:200px;
       left:620px;
       background-color:#FAEBD7;
       color:#000000;
       border-radius:50px;
       text-align:center;
       font-style: times new roman;
       font-size: 20px;
     }
    </style>
  </head>
  <body>
    <h1>The source of these articles is {{source}}</h1>
    <h3>{{heading1}}</h3>
    <img src={{image1}}>
    <p>{{news1}}</p>
    <p> Published on {{date1}}</p>
    <a href={{url1}}>click here</a>
    <h3>{{heading2}}</h3>
    <img src={{image2}}>
    <p>{{news2}}</p>
    <p> Published on {{date2}}</p>
    <a href={{url2}}>click here</a>
    <h3>{{heading3}}</h3>
    <img src={{image3}}>
    <p>{{news3}}</p>
    <p> Published on {{date3}}</p>
    <a href={{url3}}>click here</a>
    <h3>{{heading4}}</h3>
    <img src={{image4}}>
    <p>{{news4}}</p>
    <p> Published on {{date4}}</p>
    <a href={{url4}}>click here</a>
    <h3>{{heading5}}</h3>
    <img src={{image5}}>
    <p>{{news5}}</p>
    <p> Published on {{date5}}</p>
    <a href={{url5}}>click here</a>
    <h3>{{heading6}}</h3>
    <img src={{image6}}>
    <p>{{news6}}</p>
    <p> Published on {{date6}}</p>
    <a href={{url6}}>click here</a>
    <h3>{{heading7}}</h3>
    <img src={{image7}}>
    <p>{{news7}}</p>
    <p> Published on {{date7}}</p>
    <a href={{url7}}>click here</a>
    <h3>{{heading8}}</h3>
    <img src={{image8}}>
    <p>{{news8}}</p>
    <p> Published on {{date8}}</p>
    <a href={{url8}}>click here</a>
    <h3>{{heading9}}</h3>
    <img src={{image9}}>
    <p>{{news9}}</p>
    <p> Published on {{date9}}</p>
    <a href={{url9}}>click here</a>
    <h3>{{heading10}}</h3>
    <img src={{image10}}>
    <p>{{news10}}</p>
    <p> Published on {{date10}}</p>
    <a href={{url10}}>click here</a>
  </body>
</html>
